@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;900&family=Rubik:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/* root start */
:root {
    --fs-xs: 16px;
    --fs-sm: 18px;
    --fs-md: 20px;
    --fs-lg: 36px;
    --fs-xl: 48px;
    --fs-xxl: 50px;
    /* font-weight */
}

.fs_xs {
    font-size: var(--fs-xs);
}

.fs_sm {
    font-size: var(--fs-sm);
}

.fs_md {
    font-size: var(--fs-md);
}

.fs_lg {
    font-size: var(--fs-lg);
}

.fs_xl {
    font-size: var(--fs-xl);
}

.fs_xxl {
    font-size: var(--fs-xxl);
}

.fw_normal {
    font-weight: 400;
}

.fw_medium {
    font-weight: 500;
}

.fw_semibold {
    font-weight: 600;
}

.fw_bold {
    font-weight: 700;
}

.fw_extrabold {
    font-weight: 800;
}

.fw_black {
    font-weight: 900;
}

/* root-end */

.color_gray {
    color: #4F5665;
}

.bg_gray {
    background-color: #FBFBFB;
}


.bg_orange {
    background-color: #F53838 !important;
    ;
}

/*hero red button  */
.hero_button {
    font-family: 'rubik';
    width: 200px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;

    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none !important;
}

.hero_button:hover {
    background-color: #F5383859;
    box-shadow: 0px 15px 20px rgba(218, 32, 48, 0.252);
    color: #fff;
    transform: translateY(-7px) !important;
}

/* hero-btton end */


/* section_icon_box_sado */

.icon_box_sado {
    box-shadow: 0px 15px 20px rgba(51, 50, 50, 0.105);
}

.box1 {
    position: relative;
}

.box1::after {
    content: '';
    position: absolute;
    background-color: #EEEFF2;
    height: 100px;
    width: 2px;
    right: -15px;
}

.box2 {
    position: relative;
}

.box2::after {
    content: '';
    position: absolute;
    background-color: #EEEFF2;
    height: 100px;
    width: 2px;
    right: -15px;
}


.m-w-246 {
    max-width: 246px;
}

.mw_555 {
    max-width: 555px;
}

.m_h_400 {
    max-height: 400px;
}


/* navbar */


ul li {
    list-style: none;
}

nav ul li a {
    color: #4F5665;
}

.nav-item{font-family: 'rubik','sans serif';}

.max-w-380 {
    max-width: 380px;
}

footer div .row ul li :nth-child(:first-child){color: #4F5665;}


.bg-gray {
    background-color: #F8F8F8;

}

.max-w-144 {
    max-width: 144.9px;
}

.max-h-165 {
    max-height: 165.37px;
}


.ff-rubik {
    font-family: 'rubik', 'poppins';
}




.mobileicon {
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    align-items: end;
}

.d-none {
    display: none;
}


.line {
    width: 100%;
    height: 5px;
    background-color: black;
    margin-top: 3px;


}

.nav-h {
    height: 80px;
}

.card_btn {
    width: 177.88px;
    height: 45px;
    left: 1011.06px;
    top: 2441.55px;

    background: #fff;
    border-radius: 50px;
    outline: 0;
    border: 2px solid #F53838;
    font-weight: 700;
    color: #F53838;
    font-size: 16px;
}

.card_btn:hover {
    color: #fff;
    background-color: #F53838;
    transition: all 300ms linear;
}
.card{outline: none;}

.card:hover {
    
    outline: 2px solid #F53838;
    transition: all 100ms linear;
    border-radius: 10px;
}


.max-w-340 {
    max-width: 340px;
}

.max_w_380 {
    max-width: 390px;
}

input[type="checkbox"]:checked~ul {
    left: 0;
    opacity: 1;
}



.position_sticky {
    position: sticky;
    top: 0;
}

.card-border {
    border: 2px solid #DDDDDD;
    border-radius: 10px;
}

.box_shadow {
    box-shadow: 1px 26px 47px #9e9fa275;

}

/* slick slider */

.slick-next {
    display: none !important;
}

.slick-prev {
    display: none !important;
}


.slick-next:before {
    color: #F53838;
    font-size: 60px;
}

.slick-prev:before {
    color: #F53838;
    font-size: 60px;
}

.slick-dots {
    left: -30% !important;
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
}

.slick-prev {
    left: 70%;
    bottom: -50px !important;
    top: unset;
    z-index: 2;
}
.slick-next {
    right: 20%;
    bottom: -50px !important;
    top: unset;
    z-index: 2;
}

.slick-prev::before {
    content: "";
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url(../images/left.svg);
    background-size: 100% 100%;
    border: 2px solid #F53838;
    border-radius: 20px;
    background-color: #fff !important;
    padding: 2px;
}

.slick-next::before {
    content: "";
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url(../images/right-arrow.png);
    background-size: 100% 100%;
    border: 2px solid #F53838;
    border-radius: 20px;
    background-color: #F53838;
    padding: 12px;
}



.slick-dots li button:before {
    content: unset;
}

.slick-dots {bottom: -80px;}


.slick-dots li button {
    background-color: gray;
    width: 10px;
    height: 10px;
    border-radius: 12px;
}

.slick-dots li.slick-active button {
    background-color: #F53838;
    width: 20px;
    height: 10px;
}

.w_80{width: 80%;}

/* slider end */



/* footer card */

.f_card_shado{box-shadow: 0px 15px 20px rgba(51, 50, 50, 0.105);}

.f_card_button{
    max-width: 250px;
    background-color: #F5383859;
    box-shadow: 0px 15px 20px rgba(218, 32, 48, 0.252);
    color: #fff;
    transform: translateY(-7px) !important;
    color: white;
    font-family: 'rubik';
    border-radius: 10px;
    padding: 18px 64px;
    font-weight: 700;
    border: none;
    
    background-color: #F53838;
}
.f_card{margin-top: -100px;

background-color: #fff;}

.footer-bg {
    background-color: #F8F8F8;
}

.footer-row-abs {
    top: -20%;
}

.m-w-340 {
    max-width: 340px;
}

.max_w_555 {
    max-width: 555px;
}

.m_w_370{max-width: 370px;}

.max_w_90 {
    max-width: 90px;
}

.max_w_1140 {
    max-width: 1240px;
}

.footer_card {
    position: absolute;
    top: -100px;
}

.footer-btn-shado {
    background: rgba(245, 56, 56, 0.35);
    filter: blur(27px);
}

.h-100 {
    height: 100% !important;
}


/* footer */

footer ul li {
    font-family: 'rubik', 'poppins';
    font-size: 16px;
    padding-bottom: 8px;
}

.icon-1 img{ background-color: #F53838;
border: none; border-radius: 50px;}
.icon-1 :hover img{ background-color: white;
    color: #F53838;
border: none; border-radius: 50px;}

footer ul li:first-child {
    font-weight: 700;
}



.copy-right-para {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #AFB5C0;
}

.pt_-60 {
    padding-top: -60px;
}

.pe_-90 {
    margin-right: -90px;
}



@media (max-width:1200px) {
    :root {
        --fs-xs: 14px;
        --fs-sm: 16px;
        --fs-md: 22px;
        --fs-lg: 32px;
        --fs-xl: 36px;
        --fs-xxl: 38px;
        /* font-weight */
    }

}

@media (max-width:992px) {



    .hero_button {
        height: 40px;
        width: 170px;
    }

    
.slick-dots {
    left: -0% !important;
}

    .navbar {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;

        top: 0%;
        left: -100%;
        opacity: 0;
        /* transform: translate(-50%) (-50%); */
        line-height: 30px;
        height: calc(100vh - 80px);
        pointer-events: none;
        transition: linear 500ms;
        background-color: white;

        z-index: 3;
    }

    .mobileicon {
        height: 40px;
        width: 40px;
        cursor: pointer;
        z-index: 4;
    }

    .d-none {
        display: none;
    }


    .line {
        width: 100%;
        height: 5px;
        background-color: black;
        display: flex;
        margin-top: 3px;


    }

    :root {
        --fs-xs: 14px;
        --fs-sm: 16px;
        --fs-md: 18px;
        --fs-lg: 26px;
        --fs-xl: 28px;
        --fs-xxl: 32px;
        /* font-weight */
    }


    .box1::after {
        content: '';
        position: absolute;
        background-color: #fff;
    }

    .box2::after {
        content: '';
        position: absolute;
        background-color: #fff;
    }




}

@media (max-width:576px) {

    :root {
        --fs-xs: 14px;
        --fs-sm: 14px;
        --fs-md: 16px;
        --fs-lg: 24px;
        --fs-xl: 26px;
        --fs-xxl: 30px;
        /* font-weight */
    }

}

@media (min-width:576px) {
    .slick-next {
        display: block !important;
    }

    .slick-prev {
        display: block !important;
    }



}

@media (min-width:992px) {
    .col_5 {
        width: 20%;
        padding-left: 12px;
        padding-right: 12px;
    }


}